body {
  text-align: center;
}

.ball {
  display: inline-block;
  margin-right: 15px;
  width: 80px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid;
}

#buttons h2 {
  margin-bottom: 0;
}

#rgb-color {
  margin-bottom: 0;
}

#points {
  margin-top: 0;
  display: inline-block;
}

#score {
  margin-top: 0;
  display: inline-block;
  margin-left: 5px;
}

#buttons button {
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
}

.selected {
  border-color: rgb(33, 156, 212);
}
