#meme-image-container {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
}

#meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
}

#meme-image {
  width: 500px;
  height: 500px;
  position: absolute
}


