* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

html , body {
  background-color: rgb(68, 94, 147);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  margin: auto;
  max-width: 850px;
  padding: 35px;
  text-align: center;
  text-shadow: -5px 0 rgb(126, 178, 221), 0 1px rgb(126, 178, 221), 1px 0 rgb(126, 178, 221), 0 -1px rgb(126, 178, 221);
}

#head {
  background-color: rgb(102, 127, 176);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 2.5em;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgb(10 175 230 / 0%);
  font-family: "Share Tech Mono", monospace;
  border-radius: 15px;
  background: radial-gradient(ellipse at center, rgb(24, 66, 150) 0%, #000000 70%);
}

#container-balls {
  padding: 15px;
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  font-size: 2.5em;
}

#balls-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ball {
  margin: 5px 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid;
}

hr{ 
  margin: 15px;
  clear: both;
  border: 1px solid transparent;
  height: 0px;
}

.selected {
  border-color: rgb(33, 156, 212);
}

#buttons-container { 
  display: flex;
  justify-content: center;
}

#buttons-container button { 
  background-color: rgb(68, 94, 147);
  font-weight: 700;
  font-size: 2.5em;
}